.design{
    background-image: linear-gradient(90deg,#af374b,#cd2e9d);
    color: aliceblue;
    padding: 30px 20px;
    text-align: center;
    border: 5px solid rgb(241, 211, 19);
    border-radius: 30px;
}
h1{
    text-transform: uppercase;

}
button{
    padding: 15px 30px;
    font-size: 30px;
    font-weight: bolder;
    background-image: linear-gradient(45deg,rgba(233, 226, 38, 0.855), rgb(235, 63, 11));
    border-radius: 20px;
}